*.xcworkspace/xcuserdata/*.xcuserdatad
build
*.code-workspace
rp2040.xcworkspace
Renesas/
Paradigm/
Rowley/
SDCC
oWatcom/
ARM7*
MPLAB/
MikroC/
CodeWarrior/
CCS/
BCC/
ARMClang/
ARMv8M/
ARM_CR*
ARM_CA*
ATMega323/
ColdFire_V2/
AVR*
Atmel*
ARC*
XCC
Xtensa*
!RP2040/
WizC
ARM_TFM
ATmega
Community-Supported-Ports
CDK
Softune
RX*
MSP430*
78K0R
TriCore_1782
CORTUS_APS3
H8S2329
HCS12
IA32_flat
MCF5235
MicroBlaze*
PPC*
NiosII
RL78
RISC-V
V850ES
LPC2000
STR7*
STR91x
ARM_CM8*
ARM_CM5*
ARM_CM3*
ARM_CM4*
ARM_CM7*
ARM_CM2*
